---
import Layout from "../layouts/Layout.astro";
import Lottie from "../components/Lottie.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
	<Header />
	<main></main>
</Layout>

<style></style>
