---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
    <Header />
    <main>
        <lottie-player
            src="https://assets5.lottiefiles.com/packages/lf20_H0vxmL.json"
            autoplay
            loop
            speed="1"></lottie-player>
        <a href="https://zenn.dev/peita/articles/ff21f1fc761b0a"
            >https://zenn.dev/peita/articles/ff21f1fc761b0a</a
        >
    </main>
</Layout>

<script
    src="https://unpkg.com/@lottiefiles/lottie-player@0.3.0-rc2/dist/lottie-player.js"
></script>
