<header>
    <nav>
        <ul>
            <li>
                <a href="/">top</a>
            </li>
            <li>
                <a href="/lottie-player">lottie-player</a>
            </li>
            <li>
                <a href="/lottie-js-sample">lottie-js-sample</a>
            </li>
            <li>
                <a href="/sample01">sample01</a>
            </li>
            <li>
                <a href="/buttonClick">buttonClick</a>
            </li>
            <li>
                <a href="/sample03">sample03</a>
            </li>
            <li>
                <a href="/sample04">sample04</a>
            </li>
            <li>
                <a href="/scrollTrigerSample">scrollTrigerSample</a>
            </li>
        </ul>
    </nav>
</header>

<style>
    header {
        position: fixed;
        top: 0;
        z-index: 1;
        height: 60px;
        width: 100%;
        background-color: #d4b0b0;
    }
    ul {
        display: flex;
        gap: 2rem;
        list-style: none;
    }
</style>
